<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<body>
	<div class="container">
	<form action="#" th:action="@{register}" th:object="${student}" method="post">
	            <table>
	                <tr>
	                    <td>氏名:</td>
	                    <td><input type="text" th:field="*{name}" placeholder="山田太郎" style="width:200px"/></td>
	                    <span><td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td></span>
	                </tr>
	                <tr>
	                    <td>メールアドレス:</td>
	                    <td><input type="text" th:field="*{email}" placeholder="xxxx@mail.com" 	style="width:200px"/></td>
	                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
	                </tr>
	                
					<tr>
	                    <td>出身地:</td>
	                    <td><input type="text" th:field="*{birthplace}" 	placeholder="東京都 千代田区"		style="width:200px"/></td>
	                    <td th:if="${#fields.hasErrors('birthplace')}" th:errors="*{birthplace}">Name Error</td>
	                </tr>
	                <tr>
	                    <td>生年月日:</td>
	                    <td><input type="text" th:field="*{dateOfBirth}" 	placeholder="YYYY/MM/DD"						style="width:200px"/></td>
	                    <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">email Error</td>
	                </tr>
	                
					<!--<tr>
	                    <td>スキル・職歴:</td>
	                    <td><input type="text" th:field="*{skill}"	placeholder="〇〇職: -- 年" /></td>
	                    <td th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}">Name Error</td>
	                </tr>-->
					
					<td>スキル・職歴:</td>
                    <td>		
						<div>
					    <div class="form-group col-8">
			    	  	<textarea class="form-control" placeholder="〇〇職: -- 年" name="contentForm" th:field="*{skill}"  style="height: 200px; width: 400px;"></textarea>
					    </div>	  												
						</div>
					</td>
					<td th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}">Name Error</td>
<!--	                <tr>
	                    <td>プロフィール:</td>
	                    <td><input type="text" th:field="*{profile}" placeholder="よろしくお願いします!" /></td>
	                    <td th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}">email Error</td>
	                </tr>-->
	                <tr>
						<tr>
						    <td>プロフィール:</td>
						    <td>						
								<div>
							    <div class="form-group col-8">
			  			      	<textarea class="form-control" placeholder="よろしくお願いします" name="contentForm" th:field="*{profile}"  style="height: 200px; width: 400px;"></textarea>
							    </div>	  
								</div>
							</td>
						    <td th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}">email Error</td>
						</tr>
						<tr>
	                    <td><button type="submit">Submit</button></td>
	                </tr>
	            </table>
	        </form>
	</div>

<!--  <div class="container">
    <h1>新規登録画面ダミー</h1>
    <a href="list">一覧に戻る</a>
  </div>-->
</body>
</html>